# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# VS Code settings
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Large dataset (not uploaded to GitHub)
data/*.csv